header {
	max-width: 100%;
	height: auto;
	text-align: center;
}

header img {
	max-width: 100%;
	height: auto;
}

nav {
	float: left;
	max-width: 160px;
	margin: 0;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	text-align: left;
	left: 0;
	top: 20px;
}

body {
	background-color: #060618;
}

footer {
	text-align: center;
}
