/* I pledge my honor that I have abided by the Stevens Honor System
Team Member:  Graham Howard
  Signature:  /s/ Graham Howard
Team Member:  Kyle Moissinac
  Signature:  /s/ Kyle Moissinac
Team Member:  Nick Primamore
  Signature:  /s/ Nick Primamore
Team Member:  Sergio Scardigno
  Signature:  /s/ Sergio Scardigno
Team Member:  Sean Seneviratne
  Signature:  /s/ Sean Seneviratne */
 
section {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#quickfacts img {
	display: inline;
	margin-left: 2rem;
}
