/* I pledge my honor that I have abided by the Stevens Honor System
Team Member:  Graham Howard
  Signature:  /s/ Graham Howard
Team Member:  Kyle Moissinac
  Signature:  /s/ Kyle Moissinac
Team Member:  Nick Primamore
  Signature:  /s/ Nick Primamore
Team Member:  Sergio Scardigno
  Signature:  /s/ Sergio Scardigno
Team Member:  Sean Seneviratne
  Signature:  /s/ Sean Seneviratne */

img{
    max-width: 300px;
    max-height: 200px;
}

p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color:burlywood;
}



h2{
    font-style: oblique;
    font-size: 30px;
    text-align: center;
    color:cornflowerblue;
}

.memes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 10px;
}

.morelinks{
    color: burlywood;
}
.memes2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.memes > * {
    margin-top: 10px;
}

.memes2 > * {
    margin-top: 10px;
}


.slider {
    -webkit-appearance: none;
    width: 25%;
    height: 15px;
    border-radius: 5px;   
    background: #FFFFFF;
    outline: none;
    opacity: 1.0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: burlywood;
    cursor: pointer;
}



/* CSS rules for desktops */

@media only screen and (min-width: 801px)
{

    
}
