header {
	width: 100%;
	text-align: center;
	position: relative;
}

header img {
	margin: auto;
	display: block;
	height: auto;
	max-width: 80%;
}

.flex-box {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: space-around;
	text-align: center;
	flex-wrap: nowrap;
	align-items: stretch;
	background-color: #566C89;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 5px solid #213D64;
	border-right: 5px solid #213D64;
	border-bottom: 5px solid #213D64;
	border-left: 5px solid #213D64;
	font-size: 17px;
	
}
.slogan{
	color: blue;
	font-family: fantasy;
}

.copyright{
	color: blue;
}

a{
        color: white;
}

a:hover {
	color: #009614;
}

body {
	background-color: #060618;
	color: white;
}

body img:hover {
	opacity: 0.8;
}

body main p {
    color:burlywood;
}

body main h2, body main h3 {
    font-style: oblique;
    font-size: 20px;
    text-align: center;
    color:cornflowerblue;
}

#spin {
	max-width: 90vw;
	-webkit-transition: width 1s, height 1s, -webkit-transform 1s;
	transition: width 1s, height 1s, transform 1s;
}

#spin:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.flex-item {
	flex: 1;
}

.flex-item:hover {
	background-color: #E3B662;
}

footer {
	clear: both;
	text-align: center;
	font-family: fantasy;
}

/* Desktop-specific style */
@media all and (min-width: 800px)
{
	header h1 {
		font-size: 20pt;
	}
}

/* Tablet-specific style */
@media all and (min-width: 500px) and (max-width: 800px) {
	.flex-box {
		-webkit-flex-direction: column; flex-direction: column;
	}
	
	header h1 {
		font-size: 4vw;
	}
}

/* Mobile-device-specific style */
@media all and (max-width: 500px) {
	.flex-box {
		-webkit-flex-direction: column; flex-direction: column;
	}
	
	header h1 {
		font-size: 4vw;
	}
}
