header {
	width: 100%;
	text-align: center;
	position: relative;
}

header img {
	margin: auto;
	display: block;
	height: auto;
	max-width: 80%;
}

.slogan{
	color: #333333;
	font-family: fantasy;
}

.flex-box {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: space-around;
	text-align: center;
	flex-wrap: nowrap;
	align-items: center;
	background-color: #566C89;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 5px solid #213D64;
	border-right: 5px solid #213D64;
	border-bottom: 5px solid #213D64;
	border-left: 5px solid #213D64;
	font-size: 17px;
	
}

a{
    color:white;
}

.flex-item {
	flex: 1;
	align-self: center;
}

@media all and (max-width: 768px) {
	.flex-box {-webkit-flex-direction: column; flex-direction: column;}
}

#news {
	width: 80%;
}

body {
	background-color: #060618;
	color: white;
}

footer {
	clear: both;
	text-align: center;
}
